{% load static %}

<div class="detail-control">
    {% if prev_item %}
        <a class="pagin-arrows" href="{{ prev_item.get_absolute_url }}">
            <img class="page-arrows" src="{% static 'images/arrow_left.svg' %}" alt="img">  
        </a>
    {% endif %}
    <a class="page-link" href="{% url return_url %}{{ return_params }}">All {{ items_name }}</a>
    {% if next_item %}
        <a class="pagin-arrows" href="{{ next_item.get_absolute_url }}">
            <img class="page-arrows" src="{% static 'images/arrow_right.svg' %}" alt="img">
        </a>
    {% endif %}
 </div>
