{% load static %}

<div class="extra-content">
    <h1 class="page-title">Stars</h1>
    <p>
        Stars are celestial bodies and giant luminous spheres of plasma. In our galaxy "Milky Way" alone, it counts
        billions of them, including the Sun. Each one of them is light-years away from us and much brighter than our own
        star.
    </p>
    <img src="{% static 'images/stars_base/1_starpage.jpg' %}" alt="img">
    <p>
        There are currently 451 named stars. All these names were formally approved in recent years, but most of them
        have been used for centuries. Most traditional star names are Arabic in origin and many of them originated over
        a millennium ago, either on the Arabian Peninsula or in Arabic translations of Claudius Ptolemy’s Almagest, an
        astronomical and mathematical treatise written in Greek in the 2nd century CE.
    </p>
    <h2>Life Cycle of a Star</h2>
    <p>
        The life cycle of a star is the process of change that every star undergoes over time. It begins when a
        molecular cloud collapses under its own gravity and begins to contract, heat up, and break up into smaller
        fragments that give birth to the young star. It ends when the star becomes a stellar remnant: a white dwarf,
        neutron star, or black hole. A star’s life is primarily determined by its initial mass. The more massive a star
        is the shorter its lifespan. Massive stars are hotter and they burn through their supply of hydrogen fuel
        faster. When they run out of fuel, they evolve away from the main sequence and begin to expand into giants and
        supergiants.
    </p>
    <img src="{% static 'images/stars_base/2_starpage.jpg' %}" alt="img">
    <p>
        A star reaches the end of its life when the outward radiation pressure resulting from the nuclear fusion
        processes in its core is no longer able to resist the gravitational forces. At this point, the star collapses
        under its own gravity and becomes a compact star (stellar remnant). Compact stars do not produce energy
        themselves, but other than black holes, they radiate excess heat left from the process of collapse. As they
        radiate away the heat, they lose energy and cool off, but their structure can remain the same virtually forever
        regardless of temperature. They will ultimately become cool and dark compact stars. These objects are still
        hypothetical because the universe is not old enough for any stellar remnant to have reached this stage.
    </p>
    <h2>Star types</h2>
    <h3>Protostars:</h3>
    <p>
        Protostars are newly formed stars that are still gathering material from the surrounding molecular cloud. They
        are formed when a fragment of the parent molecular cloud collapses under the force of its own gravity and a core
        forms within the fragment. This stage lasts until the infalling material is depleted and stars become visible
        as pre-main-sequence stars.
    </p>
    <img src="{% static 'images/stars_base/3_starpage.jpg' %}" alt="img">
    <p>
        Stars are formed within dense cores, small molecular clouds that are initially in balance between the force of
        self-gravity and both gas pressure and magnetic pressure. As these clouds gather material from the surrounding
        cloud, they become more massive, and the force of gravity overwhelms pressure. As a result, the dense core
        begins to collapse. The gas that collapses toward the centre of the core first creates a small protostar and
        then a protoplanetary disk around it. Protostars can be exceptionally massive. In 2016, a team of scientists
        discovered a young stellar object with a mass more than 30 times the mass of the Sun. The protostar, designated
        G11.92–0.61 MM1 (or simply MM1) lies approximately 11,000 light years away and is still in the process of
        gathering dust and gas from its parent molecular cloud. It will be even more massive when it reaches the main
        sequence.
    </p>
    <h3>T Tauri stars:</h3>
    <p>
        T Tauri stars are very young variable stars that are still contracting to the main sequence. They are typically
        found near molecular clouds. These stars are less than 10 million years old. About half of them have
        protoplanetary disks which eventually dissipate. Their effective temperatures are comparable to those of main
        sequence stars with the same mass, but T Tauri stars are more luminous because they are larger. They are fueled
        by gravitational energy and do not fuse hydrogen in their cores because their central temperatures are not high
        enough. They take about 100 million years to reach the main sequence stage.
    </p>
    <img src="{% static 'images/stars_base/4_starpage.jpg' %}" alt="img">
    <p>
        T Tauri stars were named after T Tauri, a young star discovered by the English astronomer John Russell Hind in
        October 1852. The star illuminates the nebula NGC 1555, also known as Hind’s Variable Nebula. The nebula varies
        in brightness because its central star is variable. It is a Herbig-Haro object, a bright nebulous patch
        associated with a very young star. T Tauri is believed to be only 0.4 million years old. It appears in the same
        area of the sky as the Hyades cluster, not far from Ain (Epsilon Tauri), the star that marks the Bull’s northern
        eye.
    </p>
    <h3>Main sequence stars:</h3>
    <p>
        Main sequence stars, or dwarfs, are stars that generate energy through nuclear fusion of hydrogen into helium
        in their cores. They are the most numerous stars in the universe (not including substellar objects). The energy
        that they generate in the core is carried to the surface and radiated away at the photosphere.
    </p>
    <img src="{% static 'images/stars_base/5_starpage.jpg' %}" alt="img">
    <p>
        The main sequence is the longest stage in a star’s lifetime. For low-mass stars like the Sun, it lasts about 10
        billion years. The more massive a star is, the less time it spends on the main sequence. The most massive stars
        spend only a few million years at this stage. They consume the hydrogen in their cores faster and evolve into
        supergiants.
    </p>
    <h3>White dwarfs:</h3>
    <p>
        White dwarfs are remnants of low to intermediate mass stars that expelled their outer layers when they reached
        the end of their life cycle. They are stellar cores consisting mostly of electron-degenerate matter. White
        dwarfs are the final stage of evolution for stars that are not massive enough to become neutron stars or black
        holes. These stars constitute more than 97% stars in our galaxy.
    </p>
    <img src="{% static 'images/stars_base/7_starpage.jpg' %}" alt="img">
    <p>
        White dwarfs are very dense objects. The nearest known white dwarf, Sirius B, has a mass 102% of the Sun packed
        into a diameter almost that of the Earth. Popularly known as the Pup (because it is the companion to the Dog
        Star), Sirius B was discovered by the German astronomer Friedrich Wilhelm Bessel in 1844. It lies 8.6 light
        years away.
    </p>
    <h3>Red Dwarfs:</h3>
    <p>
        These stars have a prevalence of around 73%, their temperatures are usually around 4.000 K, with luminosities
        around 0.0001 to 0.8 that of the Sun. They have a mass of 0.08 to 0.45 that of our sun and last around several
        trillion years.
    </p>
    <img src="{% static 'images/stars_base/8_starpage.jpg' %}" alt="img">
    <p>
        They account for the bulk of the Milky Way’s stellar population, though they are very dim. If red dwarfs are
        more massive than 0.35 solar masses, they convert hydrogen into helium both in their core and throughout.
        Because of this, the nuclear fusion process is slowed down and even prolonged. They live for so long that no
        red dwarf has reached an advanced stage of evolution since the Universe was created. Some examples are: Proxima
        Centauri, Trappist-1.
    </p>
    <h3>Red giants:</h3>
    <p>
        A red giant forms after a star has run out of hydrogen fuel for nuclear fusion, and has begun the process of
        dying. Red giant stars are low to intermediate-mass stars that have reached a late stage in their evolution.
        They typically have masses in the range from 0.3 to 8 solar masses and temperatures lower than 5,000 K.
        These stars can be at several different stages of their evolutionary cycle: the red-giant branch (RGB), the red
        horizontal branch (red clump), the asymptotic giant branch (AGB). RGB stars are the most common of the three.
        These are giants that are still fusing hydrogen into helium in a shell around a helium core. Aldebaran,
        Arcturus and Gacrux belong to this group.
    </p>
    <img src="{% static 'images/stars_base/6_starpage.jpg' %}" alt="img">
    <p>
        A star maintains its stability through a fine balance between its own gravity, which holds it together, and the
        outwards pressure from ongoing thermonuclear fusion processes taking place at its core. Once a star’s core runs
        out of hydrogen, however, that state of equilibrium is lost and the core begins to collapse. As the core
        collapses, the shell of plasma surrounding the core becomes hot enough to begin fusing hydrogen itself. As
        fusion in this shell begins, the extra heat causes the outer layers of the star to expand dramatically, and the
        surface extends up to several hundred times beyond the former size of the star. The energy at the star’s
        surface becomes far more dissipated, causing the star's bloated surface to cool, turning from white or yellow
        to red. A red giant is formed. This process can take hundreds of millions of years and applies to intermediate
        mass stars (with a mass greater than 80% and less than 800% of the Sun’s mass), which then go on to form
        planetary nebulae. When a more massive star runs out of hydrogen at its core, it forms a red supergiant instead,
        prior to exploding as a supernova.
    </p>
    <h3>Blue supergiants:</h3>
    <p>
        Blue supergiants are hot, luminous stars of the spectral types O and B. They are sometimes also called OB
        supergiants. They have surface temperatures between 10,000 and 50,000 K and are at least 10,000 times more
        luminous than the Sun. For example, the O-type supergiants Alnitak and Naos shine with 250,000 and 813,000
        solar luminosities, while their B-type counterparts Alnilam and Rigel have an energy output 537,000 and 120,000
        times that of the Sun. The most luminous blue supergiants can be a million times more luminous than the Sun.
    </p>
    <img src="{% static 'images/stars_base/9_starpage.jpg' %}" alt="img">
    <p>
        These stars have exhausted their supplies of hydrogen at their cores. Because of this, their outer layers
        expand hugely as they evolve off the main sequence. They are among the biggest stars in the universe, though
        they are not among the most massive or luminous. Some red supergiants which still can create heavy elements
        eventually explode as type-II supernovas. These stars can be at several different stages of their evolutionary
        cycle: the red-giant branch (RGB), the red horizontal branch (red clump), the asymptotic giant branch (AGB).
        RGB stars are the most common of the three. These are giants that are still fusing hydrogen into helium in a
        shell around a helium core. Aldebaran, Arcturus and Gacrux belong to this group.
    </p>

    <h2>Stellar classification</h2>
    <p>
        Each star is assigned a spectral type based on the appearance of its spectrum. Stellar classes typically have
        three elements: a letter (O-B-A-F-G-K-M), an Arabic number between 0 and 9, and a Roman number between I and
        VII (or a zero).
    </p>
    <img src="{% static 'images/stars_base/10_starpage.jpg' %}" alt="img">
    <p>
        The letter indicates the spectral class, which is determined based on the star’s effective temperature. In
        order of decreasing temperature, the seven main spectral classes in the Morgan-Keenan classification system
        are: O, B, A, F, G, K, and M. The Arabic number subdivides the class further based on the temperature; 0
        indicates the hottest stars in each class, while 9 denotes the coolest. The Roman numeral indicates the
        luminosity class, classifying stars as main sequence stars, subgiants, giants, bright giants, and supergiants.
    </p>
</div>