:root {
    --background: #050815;
    --bg-input: #0e111a;
    --bg-table: #0d121e;
    --bg-cart: #7897ffa3;
    --shadow: #213b8f;
    --sleep-color: #393e4a;
    --text-color: #9A9AAF;
    --text-hover: #bcd3ff;
    --hover-color: #84a1ff;
    --error-color: #bb5454;
    --slider-star: #b57566;;
    --slider-starhover: #ff4425;
}

/* general styles */
html {
    box-sizing: border-box;
    min-height: 100%;
}

*, *::after, *::before { box-sizing: inherit; }

img { display: block; }

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li { padding-left: 0; }

hr { border-color: var(--shadow); }

input:focus, 
select:focus,
.edit-text-input:focus,
.comment-text:focus {
    outline: 1px solid #474f63;
    transition: border 0.3s ease;
}

::placeholder {
    color: var(--sleep-color);
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 18px;
}

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text-color) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--sleep-color) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--background);
    color: var(--text-color);
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main { min-height: calc(100vh - 150px); }

.main {
    display: flex;
    background: radial-gradient(160% 150%, rgb(11 29 81) 0%, rgb(11 29 81) 5%, 
    rgba(20, 40, 95,0) 40%, rgba(0,53,97,0) 70%, rgba(0,53,97,0) 100%);
}

.page-title {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    text-align: center;
    margin: 0 20px 40px;
}

.page-title span { margin-left: 10px; }

.page-link {
    font-family: 'Merriweather', serif;
    width: max-content;
    transition: 0.9s;
}

.img-link {
    opacity: 0.8;
    transition: .3s ease;
}

.img-link:hover { opacity: 1; }

.modal-message {
    display: none;
    width: max-content;
    text-align: center;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 30px;
    font-family: 'Merriweather', serif;
    background-color: var(--bg-table);
  }

.messages {
    margin-bottom: 10px;
    text-align: center;
    color: var(--hover-color);
}

.form-error,
.errorlist li,
.error {
    margin-bottom: 10px;
    color: var(--error-color);
    text-align: center;
}

.page-button {
    padding: 10px 20px;
    background: var(--bg-input);
    color: var(--sleep-color);
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 2px 0px var(--sleep-color);
    cursor: pointer;
    transition: 1s;
}

.page-button:hover, 
.confirm-button button:hover,
.modal-message {
    color: #b1c3ff;
    box-shadow:
        0 3px 15px var(--hover-color),
        0 -3px 15px var(--hover-color),
        -3px 0 15px var(--hover-color),
        3px 0 15px var(--hover-color);
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 125px auto 100px;
}

.container-home {
    width: 100%;
    max-width: 1420px;
    padding: 0 10px;
    margin: 100px auto;
} 

/* main-menu */
.header{
    background: linear-gradient(180deg,
        var(--background) 50%,
        rgb(5 8 21 / 90%) 60%,
        rgb(5 8 21 / 60%) 75%,
        rgb(5 8 21 / 1%) 100%);
    height: 125px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    transition: top 0.3s;
}

.main-menu {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 100px;
    margin: 0 20px;
}

.logo-container { position: relative; }

.logo-base,
.logo-action {
    position: absolute;
    top: -38px;
    left: -10px;
    transition: opacity 0.5s;
    width: 180px;
    height: auto;
}

.logo-action,
.query-action,
.user-action,
.cart-action { opacity: 0; }

.logo-container:hover .logo-action,
.query-container:hover .query-action,
.user-container:hover .user-action,
.cart-container:hover .cart-action { opacity: 1; }

.menu-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-left: 170px;
    width: 100%;
    height: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 20px;
    transition: 0.5s;
}

.menu-item:hover, 
.menu-account-item:hover,
.page-link:hover,
.form-link a:hover,
.registration-link a:hover,
.menu-cart span,
.active,
.search-item-info span {
    color: var(--text-hover);
    text-shadow:
        0 5px 10px var(--hover-color),
        0 -5px 10px var(--hover-color),
        5px 0 10px var(--hover-color),
        -5px 0 10px var(--hover-color);
}

.extra-menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.search-bar form { display: flex;}

.search-bar input {
    margin: 0 5px 0 0;
    font-size: 18px;
    color: var(--text-color);
    width: 350px;
    background-color: var(--bg-input);
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
    padding: 5px 35px 5px 10px;
}

.search-bar button {
    border: none;
    padding: 0;
    background: none;
 }

.query-container {
    position: absolute;
    top: 0;
    right: 82px;
}

.user-container,
.cart-container {
    position: relative;
}

.query-base,
.user-base,
.cart-base {
   width: 40px;
   height: auto;
   cursor: pointer;
}

.query-action,
.user-action,
.cart-action {
   position: absolute;
   top: 0;
   left: 0;
   transition: opacity 0.5s;
   width: 40px;
   height: auto;
   cursor: pointer;
}

/* Modal account */
.menu-account {
    max-width: 350px;
    min-width: 250px;
    position: fixed;
    display: none;
    top: 80px;
    right: 0;
    padding: 10px;
    border-radius: 16px;
    overflow: hidden;
    font-family: 'Merriweather', serif;
    box-shadow: inset 0 0 6px 0px var(--shadow);
    background-color: var(--bg-table);
    z-index: 4;
}

.account-menu-open { display: block; }

.icon-close {
    position: absolute;
    margin: 5px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: 0.5s;
}

.icon-close:hover { transform: scale(0.9); }

.menu-account-logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

.login-form {
    margin: 20px 35px 0;
    text-align: center;
}

.form-item {
    width: 240px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: var(--text-color);
    background-color: var(--bg-input);
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
}

.login-success, .password-success  {
    color: var(--hover-color);
    position: absolute;
    left: 15px;
    top: 94px;
}

.password-success { top: 156px; }
.login-success::before, .password-success::before {
    content: "\2713";
    font-size: 35px;
}

.menu-account-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 40px 20px;
}

.menu-account-user img {
    width: 50px;
    border-radius: 10px;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
}

.menu-account-user p {
    font-size: 20px;
    padding: 10px;
    word-break: break-all;
}

.menu-account-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.menu-account-item {
    margin-bottom: 20px;
    transition: 0.5s;
    width: max-content;
}

.user-log-button {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px;
}

.form-link,
.registration-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-link a {
    margin-bottom: 20px;
    text-align: center;
    width: max-content;
    transition: 0.5s;
}

.cart-total-icon {
    position: absolute;
    top: -3px;
    right: 8px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg-cart);
    cursor: default;
}

.menu-cart span {
    font-weight: 400;
}

/* Slider */
.slider {
    position: relative;
    margin: 0 auto;
}

.slide img,
.product-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* vertical-align: top; */
}

.slider-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    gap: 0px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider-wrapper::-webkit-scrollbar { display: none; }

.slider-wrapper.grab {
    cursor: grabbing;
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.slider-wrapper.grab a { cursor: grabbing; }

.slider-wrapper.no-smooth { scroll-behavior: auto; }

.slide,
.product-slide {
    overflow: hidden;
    scroll-snap-align: start;
    position: relative;
}

/* Shop: discount */
.sale-discount {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    z-index: 2;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
}

/* Home slider */
.star-slide,
.constell-slide,
.shop-slide {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 2;
    font-family: 'Merriweather', serif;
    text-shadow:
        0 2px 5px var(--slider-starhover),
        2px 0 5px var(--slider-starhover);
}

.star-slide h1,
.constell-slide h1,
.shop-slide h1 {
    font-size: 60px;
    color: white;
}

.star-slide button {
    font-size: 40px;
    border-radius: 40px;
    color: var(--slider-star);
    box-shadow: 0 0 6px 0px var(--slider-star);
}

.star-slide button:hover {
    color: var(--slider-starhover);
    box-shadow:
        0 3px 15px var(--slider-starhover),
        0 -3px 15px var(--slider-starhover),
        -3px 0 15px var(--slider-starhover),
        3px 0 15px var(--slider-starhover);
}

.star-slide p,
.constell-slide p,
.shop-slide p {
    font-size: 40px;
    font-weight: 600;        
    color: white;
}

.constell-slide {
    text-shadow:
        0 2px 5px var(--background),
        2px 0 5px var(--background);
}

.constell-slide p {
    width: 85%;
}

.constell-slide button,
.shop-slide-info button {
    font-size: 40px;
    border-radius: 40px;
    box-shadow: 0 0 6px 0px var(--hover-color);
}

.shop-slide {
    align-items: flex-start;
    text-shadow:
        0 2px 5px var(--hover-color),
        2px 0 5px var(--hover-color);
}

.shop-slide-info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.shop-slide-info p {
    width: 80%;
    font-size: 45px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141c3245;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    z-index: 3;
}

.arrow:hover { background-color: #313f64a1; }

.prev { left: 10px; }

.next { right: 10px; }

.left-arrow,
.right-arrow { transform: translate(0); }

.left-arrow { left: 0; }

.right-arrow { right: 0; }

.arrows-img { height: 30px; }

/* footer */
.footer{
    position: absolute;
    height: 150px;
    width: 100%;
    color: #c8c8e4;
    background: radial-gradient(circle at 50% 80%,#182c62,rgba(0,53,97,0) 100%);
}

.footer-inner{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer img { display: inline; }

.footer-inner img { width: 30px; }

.footer-contacts img { width: 20px; }

.footer-contacts a {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.footer-contacts span { margin-left: 10px; }

.social-x { margin-right: 10px; }


/* Mobile Adaptation */
@media screen and (max-width: 1200px) {
    .logo-container { margin: -30px 0; }
    .logo-base,
    .logo-action {
        top: -2px;
        width: 150px;
    }

    .menu-list { margin-left: 150px; }
    
    .menu-item { margin: 15px; }
    
    .search-bar input { width: 165px; }

    ::placeholder { font-size: 16px; }

    .query-base,
    .query-action,
    .user-base,
    .user-action,
    .cart-base,
    .cart-action { width: 35px; }

    .query-container { right: 75px; }

    .cart-total-icon {
        top: -4px;
        right: 6px;
    }

    .star-slide h1,
    .constell-slide h1,
    .shop-slide-info h1 { font-size: 5vw; }

    .star-slide button,
    .constell-slide button,
    .shop-slide-info button { font-size: 3.5vw; }

    .star-slide p,
    .constell-slide p,
    .shop-slide-info p { font-size: 3.5vw; }

    .content-slider {
        grid-auto-columns: calc((100% - 30px) / 4);
        gap: 10px;
    }

    .content-slider-shop { grid-auto-columns: calc((100% - 10px) / 2); }

    .content-slider-news { grid-auto-columns: calc((100% - 20px) / 3); }

    .home-news img { height: 200px; }

    .home-stars img { height: auto; }

    .left-arrow,
    .right-arrow {
        width: 30px;
        height: 40px;
    }

    /* space, shop */
    .classes-wrapper,
    .spectral-item img {
        width: 40px;
        height: 40px;
    }

    .spectral-wrapper img:hover { background: radial-gradient(60em 60em, var(--hover-color) ,rgba(0, 53, 97, 0) 2%); }

    .spectral-classes {
        top: 188px;
        left: 10px;
    }

    .spectral-title { font-size: 14px; }

    .spectral-description { left: 53px; }
    
    .stars-content { margin-left: 65px; }
    
    .star-title { font-size: 16px; }
    
    .constellation-link { font-size: 14px; }
    
    .extra-content { margin: 0 5px 50px 10px; }
    
    .extra-content img { width: 100%; }

    .sale-discount {
        width: 90px;
        height: 90px;
        font-size: 30px;
    }
    
    .product-wrapper li { width: 25%; }
    
    .main-image { height: 400px; }
}

@media screen and (max-width: 895px) {
    .header {    
        background-image: linear-gradient(180deg,
        var(--background) 50%,
        rgb(5 8 21 / 88%) 65%,
        rgb(5 8 21 / 70%) 70%,
        rgb(5 8 21 / 1%) 90%);
    }
    
    .logo-container {
        position: absolute;
        top: 35px;
        left: 70px;
        z-index: 1;
    }
    
    .logo-base, 
    .logo-action {
        transform: translate(-50%);
        width: 120px;
    }
    
    .main-menu { margin: 0 10px; }

    .extra-menu-list {
        position: absolute;
        top: 10px;
        right: 5px;
    }
    
    .menu-list {
        margin: 25px 0 0;
        justify-content: center;
    }
    
    .menu-item {
        margin: 0 25px 0 0;
        font-size: 18px;
    }

    .menu-item:last-child { margin: 0;}

    .search-bar input {
        width: auto;
        padding: 2px 35px 2px 10px;
    }
    
    .query-container { right: 85px; }
        
    .cart-container { margin-right: 10px; }

    .cart-total-icon {
        width: 18px;
        height: 18px;
        top: 5px;
        right: 5px;
    }

    .menu-cart span { font-size: 14px };
    
    .menu-account { top: 85px; }
    
    .form-link a { margin-bottom: 10px; }

    .arrow {
        width: 30px;
        height: 40px;
    }

    .arrows-img { height: 20px; }

    .prev { left: 0; }

    .next { right: 0; }

    .slider-container h2 { 
        font-size: 18px;
        font-weight: 600;
    }

    .home-news h2 { min-height: 85px; }

    .content-slider { grid-auto-columns: calc((100% - 20px) / 3); }

    .content-slider-shop,
    .content-slider-news { grid-auto-columns: calc((100% - 10px) / 2); }

    /* space, shop */
    .news h2,
    .constellation h2,
    .star-detail-content h2,
    .search-content h3, 
    .shop-navbar ul { font-size: 16px; }
    
    .detail-wrapper img { width: 100%; }
    
    .extra-content img { max-height: 500px; }
    
    .char-description { font-size: 14px; }

    .sale-discount {
        width: 70px;
        height: 70px;
        font-size: 22px;
    }
    
    .shop-title { font-size: 20px; }
    
    .product-wrapper li { width: 35%; }
    
    .main-image { height: 75%; }
    
    .product-main h1 { font-size: 20px; }
    
    .product-price { font-size: 16px; }
    
    .product-price span { font-size: 20px; }

    .add-cart a {
        margin: 20px 5px 0;
        display: block; 
    }
}

@media screen and (max-width: 685px) {
    .search-bar input { width: 230px; }

    .slide { min-height: 300px };

    .shop-slide-info button { padding: 5px 10px; }

    .home-slider {
        width: 100vw;
        grid-auto-columns: 100%;    
    }

    .home-news img { height: 300px; }

    .registration-box { width: 350px; }
    
    .profile {
        background-color: transparent;
        box-shadow: none;
    }
    
    .edit-box {
        font-size: 14px;
        margin: 0 10px;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
    
    .edit-item label { width: 120px; }
    
    .edit-input,
    .edit-text-input,
    .remove-photo {
        font-size: 14px;
        max-width: 200px;
    }
    
    .user-comment-title { flex-basis: 15%; }
    
    .user-comment-delete { margin: 0; }
    
    .wishlist-product-wrapper { font-size: 16px; }
    
    .wishlist-product-title p { font-size: 14px; }
    
    .wishlist-product-img {
        width: 100px;
        height: 100px;
    }
    
    .remove-wishlist {
        width: 20px;
        height: 20px;
    }
    
    .wishlist-product { margin: 0px 10px 5px 15px; }
    
    .wishlist-product-description { display: none; }
    
    .wishlist-product-price { margin-top: 5px; }

    .slider-container h1 { font-size: 20px; }

    .content-slider { grid-auto-columns: calc((100% - 10px) / 2); }

    .content-slider-shop,
    .content-slider-news { grid-auto-columns: 100%; }
    
    /* space, shop */
    .sale-discount {
        width: 55px;
        height: 55px;
        font-size: 18px;
    }

    .product-detail { flex-direction: column; }
    
    .product-images {
        width: 90%;
        margin: 0 auto 40px;
    }
    
    .product-main {
        width: 100%;
        margin-left: 0;
        padding: 0 20px
    }
    
    .item-header {
        padding: 20px 10px;
        font-size: 14px;
    }
    
    .item-value { padding: 10px; }
    
    .cart-cell img { display: none; }
    
    .item-header li:first-child,
    .item-value li:first-child  {
        width: 30%;
        margin: 0;
    }    
    
    .cart-cell {
        width: 20%;
        margin-left: 10px;
    }
    
    .cart-cell h2 { font-size: 17px; }
    
    .news-wrapper,
    .constellations-wrapper,
    .search-item { grid-template-columns: 1fr; }  
    
    .news-wrapper img,
    .constellations-wrapper img,
    .search-item img {
        width: 100%;
        height: auto;
        max-height: 300px;
    }
    
    .classes-wrapper,
    .spectral-item img {
        width: 30px;
        height: 30px;
    }
    
    .spectral-wrapper img:hover { background: radial-gradient(50em 50em, var(--hover-color), rgba(0, 53, 97, 0) 2%); }
    
    .spectral-description {
        left: 42px;
        width: 300px;
        font-size: 14px;
    }
    
    .stars-wrapper img {
        width: 100px;
        height: 100px;
    }
    
    .star {
        margin: 0px 10px 5px 15px;
        font-size: 14px;
    }
    
    .star-title, 
    .star-info,
    .star-info span {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .shop-navbar ul {
        margin: 0;
        padding: 0 10px;
    }
    
    .product-wrapper li { width: 45%; }

    .add-cart a {
        margin: 0 0 0 10px;
        display: inline;
    }
    
    .extra-content { margin-left: 15px; }
    
    .extra-content img { max-height: 400px; }
    
    .stars-content { margin-left: 50px };
}

@media screen and (max-width: 450px) {
    .header {
        height: 100px;
        background: linear-gradient(180deg,
            var(--background) 50%,
            rgb(5 8 21 / 88%) 80%,
            rgb(5 8 21 / 60%) 90%,
            rgb(5 8 21 / 1%) 100%)
    }

    .modal-message  { padding: 10px; }
    
    .menu-item {
        margin: 0 15px 0 0;
        font-size: 16px;
    }

    .page-title {
        font-size: 20px;
        margin: 10px 10px 20px;
    }

    .home-products img { width: 200%; }

    .home-news img,
    .home-stars img { height: 280px; }

    .star-slide h1,
    .constell-slide h1,
    .shop-slide-info h1,
    .star-slide button,
    .constell-slide button,
    .shop-slide-info button { font-size: 18px; }

    .star-slide p,
    .constell-slide p,
    .shop-slide-info p { font-size: 16px; }

    .slider-container h1 { padding: 20px; }
    
    .page-button { font-size: 14px; }
    
    .search-bar input { width: 140px; }

    .content-slider { grid-auto-columns: 100%; }
    
    .form-item { font-size: 16px; }
    
    .confirm-delete {
        max-width: 300px;
        margin-left: 50px
    };
    
    .edit-box {
        background-color: transparent;
        box-shadow: none;    
    }
    
    /* reg */
    .main-registration { background-image: none; }
    
    .background-top,
    .background-bottom { display: none; }
    
    .registration-box {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }
    
    .menu-account-logo { width: 150px; }
    
    .user-comment-title { 
        font-size: 16px;
        font-weight: 400;
    }

    .edit-img-input { width: 120px; }
    
    /* space, shop */
    .container,
    .container-home {
        margin: 100px auto 50px;
        padding: 0 5px;
    }
    
    .arrow { display: none; }

    .sale-discount {
        width: 45px;
        height: 45px;
        font-size: 15px;
    }
    
    .shop-navbar ul {
        width: 100%;
        justify-content: space-around;
        padding: 0 5px;
    }
    
    .product-wrapper li {
        width: 70%;
        margin-bottom: 10%;
    }
    
    .news-wrapper img,
    .constellations-wrapper img,
    .search-item img { max-height: 250px; }

    .extra-content { margin: 0 5px 40px; }
    
    .extra-content h2 { margin: 30px 0; }
    
    .extra-content p { margin: 15px 5px; }
    
    .star { margin: 5px; }
    
    .stars-wrapper img {
        width: 100%;
        height: 100%;
    }
    
    .char-name {
        flex-basis: 50%;
        font-size: 14px;
    }
    
    .char-description { font-size: 12px; }
    
    .stars-content { margin-left: 60px; }
    
    .stars-wrapper {
        flex-direction: column;
        margin: 0 5px 25px;
    }
    
    .cart-links { margin: 30px 5px 0; }

}
