/* Pages */
/* general styles */
.edit-input, 
.edit-text-input {
    padding: 5px;
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
    background-color: var(--bg-input);
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
    overflow-y: hidden;
    resize: none;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.buttons, 
.confirm-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirm-button { margin-bottom: 10px; }

.confirm-button button {
    margin: 0 10px;
    background: none;
    color: var(--sleep-color);
    border: 1px solid var(--sleep-color);
    border-radius: 15px;
    padding: 5px 15px;
    font-family: 'Merriweather', serif;
    font-size: 1rem; /* =16px */
    cursor: pointer;
    transition: 0.9s;
}

.checkbox { display: none; }

.checkbox-main {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 3px 0px #393e4a;
    vertical-align: text-bottom;
}

.checkbox:checked + .checkbox-main::before {
    content: '✓';
    font-size: 30px;
    display: block;
    margin-left: 2px;
    margin-top: -12px;
}

.label-checkbox {
    display: block;
    margin: 30px 0;
}

/* account/profile */
.profile {
    max-width: 500px;
    padding: 2rem; 
    border-radius: 20px;
    box-shadow: inset 0 0 6px 0px var(--shadow);
    background-color: var(--bg-table);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:10px;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
    margin-right: 15px;
}

.profile-name ul {
    display: flex;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.profile-name li { margin-right: 5px; }

.profile-header p {
    color: var(--sleep-color);
    font-weight: 600;
}

.profile-name span { 
    margin-left: 5px;
    text-transform: uppercase;
}

.profile-info-row {
    display: flex;
    margin-bottom: 15px;
}

.profile-info-title {
    width: 40px;
    margin-right: 10px;
    color: var(--sleep-color);
}

.profile-info-text { flex-basis: 90%; }

.profile-links {
    display: flex;
    width: 100%;
    margin-left: 10px;
}

.profile-links ul { margin: 15px auto; }

.profile-links li {
    text-align: left;
    margin-bottom: 10px;
}

.profile-links li:last-child { margin-bottom: 0; }

/* edit profile */
.edit-box {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: inset 0 0 3px 0px var(--shadow);
    background-color: var(--bg-table);
}

.edit-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.edit-item label { width: 150px; }

.edit-text-input {
    max-width: 300px;
    max-height: 150px;
    text-align: left;
}

.edit-photo { text-align: center; }

.edit-photo p { 
    color: var(--text-color);
    font-weight: 400;
}

/* корректировка кнопки загрузки файла */
.edit-img-input{ color: var(--sleep-color); }

.edit-img-input::-webkit-file-upload-button {
    margin-right: 10px;
    color: var(--sleep-color);
    background: var(--bg-input);
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
    cursor: pointer;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
}

.edit-img-input::-webkit-file-upload-button:hover{
    color: var(--text-color);
    transition: 0.5s;
}

.remove-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.edit-links {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.edit-links button:first-child { margin-right: 10px; }

.delete-link { color: var(--error-color); }

/* templates/registration */
.main-registration {
    background-image: url(../images/bg_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container-registration { margin: 20px auto; }

.registration-box {
    width: 500px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    padding: 30px 20px;
    border-radius: 16px;
    background-color: var(--bg-table);
}

.signup-form h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.signup-link {
    width: 200px;
    display: flex;
    align-items: center;
}

.signup-link img {
    width: 20px;
    margin-right: 5px;
}

.registration-link a {
    margin-bottom: 10px;
    transition: 0.5s;
}

.registration-form h1 {
    margin: 20px 0 30px;
    font-size: 18px;
}

.registration-form p {
    margin: 30px auto;
    width: 80%;
}

.text-note { 
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
}

.text-note p { margin: 0 auto 10px; }

/* space listView */
.news-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    margin: 0 5px 40px;
    text-align: justify;
}

.news-wrapper img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--text-color);
    border-radius:10px;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
    font-size: 18px;
}

.date { margin-top: 5px; }

.item-info { margin-bottom: 5px; }

.item-info span {
    margin: 0 5px;
    font-size: 16px;
    font-weight: 400;
}

