/* Pages */
/* general styles */
.detail-box { max-width: 840px; }

.detail-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.detail-control a { margin: 0 10px; }

.page-arrows {
    width: 35px;
    margin: 8px;
}

.pagin-arrows {    
    border-radius: 50%;
    transition: 0.9s;
}

.pagin-arrows:hover { box-shadow: 0 0 4px 4px var(--hover-color); }

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
}

.pagination-list li {
    margin: 0 10px;
    font-family: 'Merriweather', serif;
}

.edit-input, 
.edit-text-input,
.comment-input,
.comment-text {
    padding: 5px;
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
    background-color: var(--bg-input);
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
    overflow-y: hidden;
    resize: none;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.buttons, 
.confirm-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirm-button { margin-bottom: 10px; }

.confirm-button button {
    margin: 0 10px;
    background: none;
    color: var(--sleep-color);
    border: 1px solid var(--sleep-color);
    border-radius: 15px;
    padding: 5px 15px;
    font-family: 'Merriweather', serif;
    font-size: 1rem; /* =16px */
    cursor: pointer;
    transition: 0.9s;
}

.checkbox { display: none; }

.checkbox-main {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 3px 0px #393e4a;
    vertical-align: text-bottom;
}

.checkbox:checked + .checkbox-main::before {
    content: '✓';
    font-size: 30px;
    display: block;
    margin-left: 2px;
    margin-top: -12px;
}

.label-checkbox {
    display: block;
    margin: 30px 0;
}

/* account/profile */
.profile {
    max-width: 500px;
    padding: 2rem; 
    border-radius: 20px;
    box-shadow: inset 0 0 6px 0px var(--shadow);
    background-color: var(--bg-table);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:10px;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
    margin-right: 15px;
}

.profile-name ul {
    display: flex;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.profile-name li { margin-right: 5px; }

.profile-header p {
    color: var(--sleep-color);
    font-weight: 600;
}

.profile-name span { 
    margin-left: 5px;
    text-transform: uppercase;
}

.profile-info-row {
    display: flex;
    margin-bottom: 15px;
}

.profile-info-title {
    width: 40px;
    margin-right: 10px;
    color: var(--sleep-color);
}

.profile-info-text { flex-basis: 90%; }

.profile-links {
    display: flex;
    width: 100%;
    margin-left: 10px;
}

.profile-links ul { margin: 15px auto; }

.profile-links li {
    text-align: left;
    margin-bottom: 10px;
}

.profile-links li:last-child { margin-bottom: 0; }

/* edit profile */
.edit-box {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: inset 0 0 3px 0px var(--shadow);
    background-color: var(--bg-table);
}

.edit-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.edit-item label { width: 150px; }

.edit-text-input {
    max-width: 300px;
    max-height: 150px;
    text-align: left;
}

.edit-photo { text-align: center; }

.edit-photo p { 
    color: var(--text-color);
    font-weight: 400;
}

/* корректировка кнопки загрузки файла */
.edit-img-input{ color: var(--sleep-color); }

.edit-img-input::-webkit-file-upload-button {
    margin-right: 10px;
    color: var(--sleep-color);
    background: var(--bg-input);
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
    cursor: pointer;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
}

.edit-img-input::-webkit-file-upload-button:hover{
    color: var(--text-color);
    transition: 0.5s;
}

.remove-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.edit-links {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.edit-links button:first-child { margin-right: 10px; }

.delete-link { color: var(--error-color); }

/* profile comments */
.user-comments { margin: 0 10px; }

.user-comments ul { margin-bottom: 20px; }

.user-comment-row {
    display: flex;
    margin-bottom: 15px;
}

.user-comment-title {
    flex-basis: 7%;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
}

.user-comment-text { flex-basis: 83%; }

.user-comment-text a { font-family: 'Roboto Condensed', sans-serif; }

.user-comment-delete {
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
    color: var(--sleep-color);
    font-family: 'Merriweather', serif;
}

/* profile Favorite Stars */
.favorite-add {
    margin: 0 0 10px 10px;
    font-weight: 400;
}

.favorite-add span {
    margin-left: 10px;
    font-weight: 200;
}

/* templates/registration */
.main-registration {
    background-image: url(../images/bg_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container-registration { margin: 20px auto; }

.registration-box {
    width: 500px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    padding: 30px 20px;
    border-radius: 16px;
    background-color: var(--bg-table);
}

.signup-form h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.signup-link {
    width: 200px;
    display: flex;
    align-items: center;
}

.signup-link img {
    width: 20px;
    margin-right: 5px;
}

.registration-link a {
    margin-bottom: 10px;
    transition: 0.5s;
}

.registration-form h1 {
    margin: 20px 0 30px;
    font-size: 18px;
}

.registration-form p {
    margin: 30px auto;
    width: 80%;
}

.text-note { 
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
}

.text-note p { margin: 0 auto 10px; }

/* space listView */
.news-wrapper,
.constellations-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    margin: 0 5px 40px;
    text-align: justify;
}

.news-wrapper img,
.constellations-wrapper img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--text-color);
    border-radius:10px;
}

.news,
.constellation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news h2,
.constellation h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
    font-size: 18px;
}

.date { margin-top: 5px; }

.item-info { margin-bottom: 5px; }

.item-info span {
    margin: 0 5px;
    font-size: 16px;
    font-weight: 400;
}

/*  space detail */
.space-news-content,
.constellation-content,
.star-detail-content {
    text-align: justify;
    margin-top: 20px;
    padding: 0 10px;
}

.space-news-content p { margin-bottom: 20px; }

.detail-wrapper {
    margin: 5px;
    text-align: center;
}

.detail-wrapper img, 
.extra-content img {
    width: 800px;
    max-height: 600px;
    object-fit: cover;
    margin: 0 auto;
    border: 1px solid var(--text-color);
    border-radius:10px;
}

.constellation-stars {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.constellation-stars li:first-child { margin-right: 5px; }
 
.constellation-stars li { margin-right: 10px; }

/* django-ckeditor */
.item-description { margin-bottom: 20px; }
.item-description img {
    width: 100%;
    object-fit: contain;
    border: transparent;
}

/* comments */
.comments-count {
    font-size: 20px;
    margin: 20px 20px 30px;
}

.comments-count span {
    margin-right: 5px;
    font-size: 22px;
}

.comment,
.comments-box { margin: 10px; }

.comment-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Merriweather', serif;
}

.comment-item p { width: 100%;}

.comment-user {
    width: 100px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-user p {
    text-align: center;
    word-break: break-all;
}

.comment-user img {
    width: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
}

.comment-text {
    width: 100%;
    max-height: 100px;
    text-align: left;
}

.comment-button { justify-content: end; }

.comments-list { margin-top: 30px }

.comment-wrapper { margin-bottom: 25px; }

.comment-author {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}

.comment-author span {
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;    
}

.comment-content {
    text-align: justify;
    margin-bottom: 20px;
    background-color: #10131c82;
    box-shadow: inset 0 0 2px 0px var(--sleep-color);
    border-radius: 10px;
    padding: 10px;
    word-break: break-all;
}

.comment-controls {
    display: flex;
    font-family: 'Merriweather', serif;
    color: var(--sleep-color);
}

.user-comment-delete a,
.comment-controls a {
    min-width: 70px;
    text-align: center;
    border: 1px solid;
    border-radius: 16px;
    padding: 5px 10px;
}

.comment-controls a:first-child { margin-right: 20px;}

.user-comment-delete a:hover,
.comment-controls a:hover {
    color: var(--text-color);
    border-color: var(--shadow);
    transition: 0.5s;
}

/* modal confirm delete comment */
.confirm-delete-box {
    display: none;
    position:fixed;
    left: 50%;
    top: 50%;
    margin: -50px -200px;  
    z-index: 1;
    text-align: center;
}

.confirm-delete {
    padding: 20px;
    border-radius: 16px;
    box-shadow: inset 0 0 10px 0px var(--shadow);
    background-color: var(--bg-table);
}

.confirm-delete p {
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
}

/* space stars */
/* sidebar Spectral classes */
.spectral-classes {
    position: fixed;
    top: 185px;
    left: 76px;
    z-index: 1;
}

.spectral-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

.spectral-item{
    text-align: center;
    padding: 10px;
    border-radius: 33px;
    box-shadow: inset 0 0 6px 0px var(--shadow);
    background-color: var(--bg-table);
}

.classes-wrapper {
    width: 50px;
    height: 50px;
}

.selected {
    box-shadow: inset 0 0 3px 1px var(--shadow);
    border-radius: 50%;
}

.spectral-wrapper { position: relative; }

.spectral-wrapper img {
    width: 50px;
    height: 50px;
}

.spectral-wrapper img:hover { background: radial-gradient(75em 75em, var(--hover-color), rgba(0, 53, 97, 0) 2%); }

.spectral-description {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 63px;
    width: 350px;
    padding: 10px;
    box-shadow: inset 0 0 6px 0px var(--shadow);
    background-color: var(--bg-table);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.spectral-wrapper:hover .spectral-description {
    visibility: visible;
    opacity: 1;
}

.spectral-description li {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
}

.spectral-description h2, 
.spectral-description p {
    padding-right: 10px;
    text-align: justify;
}
/* sidebar end */

.stars-content {
    margin-left: 30px;
    text-align: center;
    max-width: 840px;
}

.extra-content { margin: 0 0 50px 5px; }

.extra-content h2 {
    font-size: 20px;
    margin: 50px 0 30px;
} 

.extra-content p {
    margin: 20px 10px;
    text-align: justify;
}

.extra-content h3 {
    font-size: 18px;
    text-align: left;
    margin: 30px 10px 20px;
}

.spectral-span {
    margin-left: 10px;
    text-transform: uppercase;
}

.stars-wrapper {
    display: flex;
    margin: 0 5px 20px;
    border-radius: 20px;
    text-align: justify;
    align-items: center;
}

.stars-wrapper img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius:10px;
    border: 1px solid var(--shadow);
}

.star { margin-left: 20px; }

.star-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.constellation-link {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 300;
}

.constellation-link a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.star-info { margin-bottom: 10px; }

.star-info span {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
}

/* space star detail */
.star-detail-content h2 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Merriweather', serif;
}

.characteristics-inner {
    margin-bottom: 30px;
}

.char-row {
    display: flex;
    margin-bottom: 10px;
}

.char-name {
    flex-basis: 40%;
    margin-right: 5px;
}

.char-description {
    flex-basis: 50%;
    font-family: 'Merriweather', serif;
}

.favorite { margin: 25px 10px; }

.favorite-button {
    display: flex;
    align-items: center;
}

.favorite img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: none;
}

.favorite span { font-size: 14px; }

/* shop */
.shop-navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.shop-navbar ul {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    background: var(--background);
}

.shop-navbar li { padding-right: 10px; }

.shop-navbar li:last-child { padding: 0; }

.sort-form {
    text-align: left;
    margin: 0 10px 20px;
    font-weight: 400;
    font-size: 18px;
}

.sort-form span select {
    margin-left: 10px;
    padding: 0 5px;
    height: 25px;
    color: var(--text-color);
    font-size: 16px;
    background-color: var(--bg-input);
    border-radius: 5px;
}

.products { text-align: center; }

.product-wrapper { width: 100%; }

.product-wrapper ul { width: 100%; }

.product-wrapper li {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    margin: 0 2% 3%;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: inset 0 0 6px 0px var(--shadow);
    background-color: var(--background);
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-item {
    margin: 10px 5px;
    font-weight: 600;
}

.product-item p { margin-top: 5px; }

.brand-image {
    height: 30px;
    margin: 0; 
    padding: 0;
}

.shop-brands { margin: 20px 0; }

.shop-brands ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-brands li { padding: 5px; }
