{% extends 'base.html' %}
{% load static %}
{% block title %}{{ news.title }}{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="detail-box">
                <h1 class="page-title detail-title">{{ news.title }}</h1>
                <div class="detail-wrapper">
                    {% if news.image %}<img src="{{ news.image.url }}" alt="img">{% endif %}
                    <div class="space-news-content">
                        <p>{{ news.time_create|date:"F j, Y" }}</p>
                        <p>{{ news.description|linebreaksbr }}</p>
                        <hr>
                    </div>
                </div>
                {% include "include/pagination/item_navigator.html" with return_url='news' items_name='News' %}
                {% with comments.count as total_comments %}
                    <h1 class="comments-count">
                        <span>{{ total_comments }}</span>Comment{{ total_comments|pluralize }}
                    </h1>
                {% endwith %}
                {% include 'include/space/news_comment.html' %}
                {% include 'include/space/comments_list.html' %}
                {% include 'include/space/confirm_delete.html' with target_slug=news.slug %}
            </div>
        </div>
    </main>
    <body data-page="comment-edit">
{% endblock %}
