{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if selected_category %}
        {{ selected_category.name }} - Shop
    {% elif selected_brand %}
        {{ selected_brand.name }} - Shop
    {% else %}
        Shop
    {% endif %}
{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            {% include 'include/sliders/shop_slider.html' %}
            <div class="shop-navbar">
                <ul>
                    {% for category in categories %}
                        <li class="page-link {% if selected_category.slug == category.slug %}active{% endif %}">
                            <a href="{% url 'products_by_category' category.slug %}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="products">
                <h1 class="page-title">
                    {% if selected_brand %}
                        Brand:<span>{{ selected_brand.name }}</span>
                    {% else %}
                        Products
                    {% endif %}
                </h1>
                <form id="sortForm" class="sort-form" method="get">
                    <label for="id_sort">Sort by:</label>
                    <span>{{ form.sort }}</span>
                </form>
                <div class="product-wrapper">
                    {% include 'include/shop/product_list_partial.html' %}
                </div>
            </div>
            <div class="shop-brands">
                <ul>
                    {% for brand in brands %}
                        {% if brand.image %}
                            <li><a href="{{ brand.get_absolute_url }}">
                                <img class="brand-image" src="{{ brand.image.url }}" alt="{{ brand.name }}"></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <hr>
            {% if page_obj.has_other_pages %}
                {% include 'include/pagination/items_pagination.html' %}
            {% endif %}           
        </div>
    </main>
    <body data-page="products">
{% endblock %}
