{% extends "base-registration.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
    <div class="registration-form">
        <h1>Change your password</h1>
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message|safe }}</li>
            {% endfor %}
        </ul>
        <form method="post">
            {% csrf_token %}
            {% for i in form %}
                <input class="form-item" placeholder="{{ i.label }}"
                       type="{{ i.field.widget.input_type }}" name="{{ i.name }}"
                       value="{{ i.value|default_if_none:'' }}">
                <div class="form-error">{{ i.errors }}</div>
            {% endfor %}
            <div class="buttons"><button class="page-button" type="submit">Change</button></div>
        </form>
    </div>
{% endblock %}