{% extends "base-registration.html" %}
{% load static %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="registration-form">
        <h1>Reset your password</h1>
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message|safe }}</li>
            {% endfor %}
        </ul>
        {% if validlink %}
            <p>Please enter your new password twice:</p>
            <form class="reset-form" method="post">
                {% csrf_token %}
                <input class="form-item" placeholder="New password"
                        type="{{form.new_password1.field.widget.input_type}}" name="{{ form.new_password1.name }}"
                        value="{{ form.new_password1.value|default_if_none:'' }}">
                <div class="form-error">{{ form.new_password1.errors }}</div>
        
                <input class="form-item" placeholder="Confirm password"
                        type="{{ form.new_password2.field.widget.input_type}}" name="{{ form.new_password2.name }}"
                        value="{{ form.new_password2.value|default_if_none:'' }}">
                <div class="form-error">{{ form.new_password2.errors }}</div>           
                <div class="user-log-button"><button class="page-button" type="submit">Save new password</button></div>
            </form>
        {% else %}
            <div class="form-error">
                The password reset link was invalid, possibly because it has already been used. Please request
                a new password reset.
            </div>
        {% endif %}
        <div class="registration-link">
            <a href="{% url 'login' %}">Sign in</a>
            <a href="#">Sign in with Google</a>
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
{% endblock %}
