{% extends "base-registration.html" %}
{% load static %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="registration-form">
        <h1>Reset your password</h1>
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message|safe }}</li>
            {% endfor %}
        </ul>
        <p>Enter the email address you used when creating the account:</p>
        <form class="reset-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-item" placeholder="{{ form.email.label }}"
                   type="{{ form.email.widget.input_type }}"
                   name="{{ form.email.name }}"
                   value="{{ form.email.value|default_if_none:'' }}">
            <div class="form-error">{{ form.email.errors }}</div>
            <div class="buttons"><button class="page-button" type="submit">Send email</button></div>
        </form>
        <p class="text-note">
            A message will be sent to your address containing a link to reset your password
        </p>
        <div class="registration-link">
            <a href="{% url 'login' %}">Sign in</a>
            <a href="#">Sign in with Google</a>
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
{% endblock %}
