{% load static %}
<footer class="footer">
    <div class="footer-inner">
        <div class="footer-social">
            <a href="#" class="social-x"><img src="{% static 'images/twitterx.svg' %}" alt=""></a>
            <a href="#"><img src="{% static 'images/facebook.svg' %}" alt=""></a>
            <div class="footer-contacts">
                <a href="mailto:astronomyclubshop@gmail.com">
                    <img src="{% static 'images/gmail.svg' %}" alt="">
                    <span>astronomyclubshop@gmail.com</span>
                </a>
                <p>&copy; 2023 Astronomy Club</p>
            </div>
        </div>
    </div>
</footer>
