{% load static %}
<header id="menu" class="header">
    <div class="main-menu">
        <a href="{% url 'home' %}">
            <div class="logo-container">
                <img class="logo-base" src="{% static 'images/log1.svg' %}">
                <img class="logo-action" src="{% static 'images/log2.svg' %}">
            </div>
        </a>
        <nav class="menu-wrapper">
            <ul class="menu-list">
                {% with request.resolver_match.url_name as url_name %}
                    <li class="menu-item {% if url_name == 'news' %}active{% endif %}">
                        <a href="{% url 'news' %}">News</a>
                    </li>
                    <li class="menu-item {% if url_name == 'stars' %}active{% endif %}">
                        <a href="{% url 'stars' %}">Stars</a>
                    </li>
                    <li class="menu-item {% if url_name == 'constellations' %}active{% endif %}">
                        <a href="{% url 'constellations' %}">Сonstellations</a>
                    </li>
                    <li class="menu-item {% if url_name == 'products' %}active{% endif %}">
                        <a href="{% url 'products' %}">Shop</a>
                    </li>
                {% endwith %}
            </ul>
            <div class="extra-menu-list">
                <div class="search-bar">
                    <form action="{% url 'search' %}" method="get" id="search-form">
                        <input id="search-input" type="text" name="query" placeholder="Search" value="{{ query }}">
                        <button type="submit">
                            <span class="query-container">
                                <img class="query-base" src="{% static 'images/query1.svg' %}" alt="query1">
                                <img class="query-action" src="{% static 'images/query2.svg' %}" alt="query2">
                            </span>
                        </button>
                    </form>
                </div>
                <div class="user-container" id="open-account-menu">
                    <img class="user-base" src="{% static 'images/user1.svg' %}">
                    <img class="user-action" src="{% static 'images/user2.svg' %}">
                </div>
                <a class="menu-cart" href="{% url 'cart_detail' %}">
                    {% with total_unique=cart.total_unique_items %}
                        <div class="cart-total-icon" style="{% if cart.total_unique_items == 0 %}display: none;{% endif %}">
                            <span id="total-unique-items">{{ total_unique }}</span>
                        </div>
                    {% endwith %}
                    <div class="cart-container">
                        <img class="cart-base" src="{% static 'images/cart1.svg' %}">
                        <img class="cart-action" src="{% static 'images/cart2.svg' %}">
                    </div>
                </a>
            </div>
        </nav>
        {% include 'include/menu-account.html' %}
    </div>
</header>
