{% load static %}

<div class="menu-account" id="account-menu">
    <img class="icon-close" src="{% static 'images/close.svg' %}" id="close-menu">
    {% if request.user.is_authenticated %}
        <div class="menu-account-user">
            <img src="{% if user.photo %}{{ user.photo.url }}{% else %}
            {% static 'images/astro.svg' %}{% endif %}">
            <p>{{ user.first_name|default:user.username }}</p>
        </div>
        <ul class="menu-account-list">
            <li class="menu-account-item"><a href="{{ user.get_absolute_url }}">Profile</a></li>
            <li class="menu-account-item"><a href="#">Wish List</a></li>
            <li class="menu-account-item"><a href="#">Orders</a></li>
        </ul>
        <div class="user-log-button">
            <button class="page-button" type="submit"><a href="{% url 'logout' %}">Sign out</a></button>
        </div>
    {% else %}
        <img class="menu-account-logo" src="{% static 'images/log1.svg' %}">
        <div class="login-form">
            {% include 'include/login_form.html' %}
            <div class="form-link">
                <a href="#">Sign in with Google</a>
                <a href="#">Forgot password?</a>
                <a href="#">Sign up</a>
            </div>
        </div>
    {% endif %}
</div>